<<<<<<< HEAD

.pricing-hero {
    width: 100%;
    height: 70vh; 
=======
/* src/components/PricingHeroStyles.css */

.pricing-hero {
    width: 100%;
    height: 70vh; /* Adjust the height to suit the Pricing page */
>>>>>>> ac3cef30ab0875bda0bffbd41b6ce68a5dee31ba
    position: relative;
    overflow: hidden;
  }
  
  .pricing-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .pricing-hero .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .pricing-hero .hero-text h1 {
<<<<<<< HEAD
    font-size: 2.5rem; 
=======
    font-size: 2.5rem; /* Adjust font size if needed */
>>>>>>> ac3cef30ab0875bda0bffbd41b6ce68a5dee31ba
    color: #fff;
  }
  
  .pricing-hero .hero-text p {
<<<<<<< HEAD
    font-size: 1.2rem; 
=======
    font-size: 1.2rem; /* Adjust font size if needed */
>>>>>>> ac3cef30ab0875bda0bffbd41b6ce68a5dee31ba
    color: #fff;
  }
  